/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
h2 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif'
    font-weight: normal;
    text-color: white;
}
body {
    background-color: black
}
h3 {
    text-align: center;
    font-family: "monospace", Trebuchet MS;
    font-weight: normal;
    color: white;
}
h4 {
    text-align: center;
    font-family: "monospace", Trebuchet MS;
    font-weight: normal;
    color: white;
}

.button {
    background-color: #04AA6D;
    padding: 15px 32px;
    font-size: 16px;
    color: white;
    border: none;
}
.button:hover {
    background-color: #0BDA51;
}

.navbar {
    background-color: black;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin: 0 10px;
}

.navbar a {
    display: inline-block;
    background-color: #222;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

.navbar a:hover {
    background-color: #444;
}

/*
.navbar ul{
    list-style-type: none;
    background-color: #04AA6D;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center
}
.navbar a:hover {
    background-color: #0BDA51
}
.navbar li {
    float: left;
}
*/
